@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Montserrat:wght@400;500;600;700;900&display=swap");

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

:root {
  --primary--color: #0ac284;
  --primary-light-gray:#c9c9c9;
  --bg-light-green:#ebfaf5;
  --primary--white:#fff;
  --primary--black:#000;
  --primary-subtext: #cccccc;
  --primary-bg-input: #ededed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
  scroll-behavior: smooth !important;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
